<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h2>Library Portal</h2>
    </div>
  </div>
</div>
<form>
  <div class="row">
    <div class="five columns" style="margin-left: 10px">
      <label for="exampleRecipientInput">Enter As Patron or Librarian</label>
      <select class="u-full-width" id="exampleRecipientInput">
        <option value="Option 1">Patron</option>
        <option value="Option 2">Librarian</option>
      </select>
      <textarea class="u-full-width" placeholder="Enter Library Card or ID #" id="patronLibrarianId"></textarea>
      <input class="button-primary" type="submit" value="Explore">
    </div>
  </div>
</form>
<div class="six columns">
  <h2>Quote of the Day:</h2>
  <h5>
    <script src='http://quotationsbook.com/quoteoftheday-js'></script>
  </h5><i><a href='http://quotationsbook.com/services/' target='_blank'></a></i>
</div>

{{!-- <h3>Patrons:</h3>
<ul id="example-list" class="list-group">
  {{#each users}}
  <li data-id="{{users}}" class="list-group-item">
    <a href="user/{{users.id}}">{{users.name}}</a>
    <button class="btn btn-danger float-right delete">ｘ</button>
  </li>
  {{/each}}
</ul> --}}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>