body {
  background-image: url("dust_scratches.png");
}

.row {
  margin: 0;
}

nav {
  width: 100%;
  height: 55px;
  background-color: #127855;
  margin-bottom: 50px;
  font-size: 30px;
  line-height: 55px;
  text-align: center;
}

#logo {
  font-weight: 900;
  text-shadow: 2px 2px #21989e;
  color: #222;
  text-decoration: none;
}

#logo:hover {
  color: #ffffff;
}

.list-group-item {
  line-height: 2.5;
}

.main-contain {
  margin-top: 20px;
  margin-bottom: 20px;
}

#filler-index {
  margin-top: 30px;
  align-content: center;
  text-align: center;
  vertical-align: middle;
  padding: 24px;
  background-color: #1a797e;
}


/* PATRON LANDING PAGE */
/* ---------------------------------- */

/* Catalog */
#catalog-search {
  min-height: 500px;
}

.div-styling {
  background-color: rgb(204, 204, 204);
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 6px 6px #51355d;
  border-radius: 1px;
}

#catalog-form {
  margin: 20px;
  margin-top: 10px;
}

#catalog-search-bar {
  width: 100%;
  margin: 0;
  border: 0px;
}

.standard-button {
  background-color: #127855;
  color: #222;
  margin-top: 10px;
}

.standard-button:hover {
  background-color: #1a797e;
  color: #ffffff;
}

.librarian-button {
  width: 300px;
}

.librarian-button:first-child {
  margin-top: 0;
}

/* Patron info */
#patron-info {
  /* min-height: 200px; */
  margin-bottom: 60px;
  text-align: center;
  line-height: 0px;
  background-color: #1a797e;
  box-shadow: 6px 6px #51355d;
  border-radius: 1px;
  padding: 15px;
}

.patron-info-items {
  margin: 0;
}

#patron-info-div {
  margin-bottom: 20px;
  
}

/* Tabs */
ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
  
}
ul.tabs li{
  background: #127855;
  color: #ffffff;
  display: inline-block;
  padding: 5px 10px;;
  cursor: pointer;
  box-shadow: 2px 0px #51355d;
}

ul.tabs li.current{
  background: #ffffff;
  color: #222;
}

.tab-content {
  display: none;
  background: #ffffff;
  padding: 10px;
  margin: 0;
  height: 350px;
  box-shadow: 6px 6px #51355d;
  border-radius: 1px;
}

.tab-content.current{
  display: inherit;
}

li {
  margin: 0;
}

.librarian-form-content {
  display: none;
  background: #ffffff;
  padding: 10px;
  margin: 0;
  height: 350px;
  box-shadow: 6px 6px #51355d;
  border-radius: 1px;
}

.librarian-div-content.current {
  display: inherit;
}